[Unit]
Description=Bot-Telegram service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=anselmo
ExecStart=/usr/bin/bot.py
